<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.pician.Crossfit" version="1.0.0">
    <name>Crossfit</name>
    <description>Cordova Application</description>
    <author email="info@com.coolappz" href="http://www.coolappz.com">Utente</author>
    <access origin="*"/>
    <preference name="Fullscreen" value="true"/>
    <preference name="WebViewBounce" value="false"/>
    <access origin=".*"/>
    <!--<preference name="DisallowOverscroll" value="true" />-->
    <content src="index.html"/>
</widget>
